* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rotis';
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
}

.container-y {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.bg-blue {
  background-color: #00585A;
}

.bg-white {
  background-color: #fff;
}

@font-face {
  font-family: 'Rotis';
  src: url("../fonts/RotisSemiSansStd-Regular.ttf");
}

@font-face {
  font-family: 'Rotis-italic';
  src: url("../fonts/RotisSemiSansStd-Italic.otf");
  font-style: italic;
}

@font-face {
  font-family: 'Rotis-light';
  src: url("../fonts/RotisSemiSansStd-Light.otf");
  font-style: light;
}

@font-face {
  font-family: 'Kaff';
  src: url("../fonts/29LTKaff-Regular.otf");
  font-style: regular;
}

@font-face {
  font-family: 'Kaff-light';
  src: url("../fonts/29LTKaff-Light.woff");
  font-style: light;
}

.kaff-light {
  font-family: "Kaff-light";
  line-height: 26px;
}

.ml-1-2 {
  margin-left: .5rem;
}

.mlr-auto {
  margin-left: auto;
  margin-right: auto;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-1-2 {
  margin-right: .5rem;
}

.lead {
  font-size: 1.1rem;
  line-height: 1.4;
}

.text-xl {
  font-size: 3.4rem;
}

h1 {
  font-size: 5rem;
  line-height: 1.1;
  font-weight: 400;
}

h1 span {
  font-family: "Rotis-italic";
}

.title {
  font-size: 56px;
  line-height: 66px;
  font-weight: 400;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-600 {
  padding-top: 600px;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-235 {
  padding-top: 235px;
}

.pt-10px {
  padding-top: 10px;
}

.pt-290 {
  padding-top: 290px;
}

.pt-26 {
  padding-top: 26px;
}

.pb-5 {
  padding-bottom: 5rem;
}

.ptb-10px {
  padding-bottom: 10px;
  padding-top: 10px;
}

.p-1 {
  padding: 2rem;
}

.p-2 {
  padding: 2rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.dir-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col-gap-1 {
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.col-gap-1-2 {
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
}

.col-gap-2 {
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.col-gap-3 {
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.col-gap-3-5 {
  -webkit-column-gap: 3.5rem;
          column-gap: 3.5rem;
}

.row-gap-1 {
  row-gap: 1rem;
}

.row-gap-3-2 {
  row-gap: 2.5rem;
}

.column-gap-35 {
  -webkit-column-gap: 35px;
          column-gap: 35px;
}

.row-gap-60 {
  row-gap: 60px;
}

.bg-advisory {
  padding-top: 844px;
}

.bg-advisory img {
  -o-object-position: -45px;
     object-position: -45px;
}

.row-gap-1-2 {
  row-gap: .5rem;
}

.row-gap-4-2 {
  row-gap: 3.5rem;
}

.row-gap-4 {
  row-gap: 4rem;
}

.row-gap-5px {
  row-gap: 5px;
}

.row-gap-2 {
  row-gap: 2rem;
}

.row-gap-3 {
  row-gap: 3rem;
}

.w-100px {
  width: 100px;
}

.w-half {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-82 {
  width: 83%;
}

.partner {
  height: 175px;
}

.w-full {
  width: 100%;
}

.w-20 {
  width: 20%;
}

.h-full {
  height: 100%;
}

.cta {
  height: 416px;
}

.cta img {
  -o-object-position: 0px -306px;
     object-position: 0px -306px;
}

.cta-overlay {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#00000000), color-stop(32%, #00000094), to(#000000C4)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #00000000 0%, #00000094 32%, #000000C4 100%) 0% 0% no-repeat padding-box;
}

.backgroundSettings {
  -o-object-position: -94px 40px;
     object-position: -94px 40px;
  height: 739px !important;
}

.half-height-card .half-height-card-img {
  height: 218px;
}

.half-height-card .half-height-card-img img {
  -o-object-position: top;
     object-position: top;
}

.half-height-card .half-height-card-content {
  height: 286px;
}

.cardSectionHeight {
  height: 1280px;
}

.hero-height {
  height: 674px;
}

.hero-circle::after {
  content: '';
  position: absolute;
  top: 42%;
  right: -1.9rem;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  background-color: #AB9969;
}

.hero-circle.hero-circle-grey::after {
  background-color: #919191;
}

.hero-circle.hero-circle-white::after {
  background-color: #FFFFFF;
}

.h-600 {
  height: 600px;
}

.min-h-100 {
  min-height: 100vh;
}

.h-v {
  height: 100vh;
}

.h-80 {
  height: 80vh;
}

.col-1 {
  width: 8%;
  min-width: 8%;
}

.col-2 {
  width: 16%;
  min-width: 16%;
}

.col-3 {
  width: 24%;
  min-width: 24%;
}

.col-4 {
  width: 32%;
  min-width: 32%;
}

.col-5 {
  width: 40%;
  min-width: 40%;
}

.col-6 {
  width: 49%;
  min-width: 49%;
}

.col-7 {
  width: 57%;
  min-width: 57%;
}

.col-8 {
  width: 65%;
  min-width: 65%;
}

.col-9 {
  width: 74%;
  min-width: 74%;
}

.col-10 {
  width: 82%;
  min-width: 82%;
}

.col-11 {
  width: 90%;
  min-width: 90%;
}

.col-12 {
  width: 100%;
  min-width: 100%;
}

.lh-24 {
  line-height: 24px;
}

.lh-28 {
  line-height: 28px;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1-2 {
  margin-bottom: .5rem;
}

.mb-2-2 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4-5 {
  padding-bottom: 3.5rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-60 {
  padding-left: 60px;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3-2 {
  padding-left: 2.5rem;
}

.mt-9 {
  margin-top: 9rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.pb-10px {
  padding-bottom: 10px;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-white {
  color: #fff;
}

.text-primary {
  color: #AB9969;
}

.ls-1-1 {
  letter-spacing: 1.1px;
}

.text-underline {
  position: relative;
}

.text-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  left: 0;
  border-bottom: .1px solid;
}

.qoot-w-h {
  width: 158px !important;
  height: 158px !important;
}

.bunyan-w-h {
  width: 148px !important;
  height: 77px !important;
}

.alayniah-w-h {
  width: 106px !important;
  height: 149px !important;
}

.text-blue {
  color: #00585A;
}

.text-grey {
  color: #919191;
}

.text-light {
  font-family: "Rotis-Light";
}

.text-28 {
  font-size: 28px;
  line-height: 38px;
}

.text-22 {
  font-size: 22px;
  line-height: 34px;
}

.text-20 {
  font-size: 20px;
}

.text-40 {
  font-size: 40px;
}

.text-32 {
  font-size: 32px;
  line-height: 38px;
}

.text-15 {
  font-size: 15px;
}

.text-14 {
  font-size: 14px;
}

.text-24 {
  font-size: 24px;
}

.text-48 {
  font-size: 48px;
  line-height: 38px;
}

.text-60 {
  font-size: 60px;
}

.obj-pos-57 {
  -o-object-position: -57px;
     object-position: -57px;
}

.border-rad-50 {
  border-radius: 50%;
}

.border-white-half-opacity {
  border: 1px solid #ffffff80;
}

.border-white-half-opacity-bottom {
  border-bottom: 1px solid #ffffff80;
}

.border-white-half-opacity-top {
  border-top: 1px solid #ffffff80;
}

.border-white-half-opacity-left {
  border-left: 1px solid #ffffff80;
}

.border-white-half-opacity-right {
  border-right: 1px solid #ffffff80;
}

.border-right-white-15-opacity {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.border-right-grey {
  border-right: 1px solid #9191914d;
}

.h-28 {
  height: 28px;
  line-height: 28px;
  padding-top: 3px;
}

.border-right-grey-1 {
  border-right: 2px solid #dedede;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subServicesCard {
  width: 300px;
}

.subServicesCard .subServicesCardOverlay {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#00000000), color-stop(53%, #00000066), to(#0000008A)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #00000000 0%, #00000066 53%, #0000008A 100%) 0% 0% no-repeat padding-box;
}

.subServicesCard .img_container {
  height: 145px;
}

.subServicesCard .subServicesCardContent {
  height: 260px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.operationContainer {
  width: 886px;
  margin-left: auto;
  margin-right: auto;
}

.operationCards {
  border: 1px solid #7070704D;
}

.operationCard {
  width: 33.3%;
  height: 305px;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.operationCard:not(:nth-last-child(1)) {
  border-right: 1px solid #7070704D;
}

.operationCard .img_container {
  position: absolute;
  top: -66.5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 133px;
  height: 133px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 0px 20px #6D8DAD29;
          box-shadow: 0px 0px 20px #6D8DAD29;
  border-radius: 50%;
}

.operationCard .img_container img {
  -o-object-fit: contain;
     object-fit: contain;
}

.operationCard .img_container .qoot {
  width: 100px;
  height: 100px;
}

.operationCard .img_container .alyan {
  width: 64px;
  height: 91px;
}

.operationCard .img_container .bunyan {
  width: 91px;
  height: 47px;
}

.border-bottom-grey-1 {
  border-bottom: 1px solid #9191914d;
}

.border-right-white-1 {
  border-right: 1px solid #fff;
}

.img_container {
  overflow: hidden;
}

.img_container .service_card_overlay:hover + .imgZoomHover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.img_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.img_container img.imgZoomHover {
  -webkit-transition: .5s;
  transition: .5s;
}

.img_container img.imgZoomHover:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.video_container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  width: 185px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  letter-spacing: 1px;
  border: 0;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn.partnerBtn {
  width: 210px;
}

.btn.secondaryBtn {
  background-color: transparent;
  border: 1px solid #AB9969;
  color: #AB9969;
  font-size: 18px;
  line-height: 50px;
  font-family: "Kaff-Light";
  padding-top: 2px;
}

.btn.secondaryBtn img {
  position: relative;
  top: -2px;
  margin-left: 5x;
}

.btn.secondaryBtn:hover {
  background-color: #AB9969;
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.object-fit-contain {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.btn-primary {
  background-color: #00585A;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.btn-primary::before {
  content: '';
  position: absolute;
  width: 160%;
  right: -35%;
  height: 100%;
  background-color: #AB9969;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  -webkit-transition: .5s;
  transition: .5s;
}

.btn-primary:hover::before {
  right: -140%;
}

.btn-primary::after {
  content: attr(data-text);
  position: absolute;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  font-family: "Kaff-Light";
  top: 56%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.inputWrapper {
  position: relative;
  border-bottom: 2px solid #F3F3F3;
  opacity: .5;
  color: #f3f3f3;
}

.inputWrapper img {
  position: absolute;
  right: 0;
  top: 50%;
  width: 13px;
  -webkit-transform: translateY(-50%) rotate(272deg);
          transform: translateY(-50%) rotate(272deg);
}

.inputWrapper input {
  width: 100%;
  padding: 10px 0;
  border: 0;
  background-color: transparent;
  color: #ffff;
  outline: none;
  font-family: "Kaff-Light";
}

.inputWrapper input::-webkit-input-placeholder {
  color: #f3f3f3;
  font-family: "Kaff-Light";
  letter-spacing: 1.1px;
}

.inputWrapper input:-ms-input-placeholder {
  color: #f3f3f3;
  font-family: "Kaff-Light";
  letter-spacing: 1.1px;
}

.inputWrapper input::-ms-input-placeholder {
  color: #f3f3f3;
  font-family: "Kaff-Light";
  letter-spacing: 1.1px;
}

.inputWrapper input::placeholder {
  color: #f3f3f3;
  font-family: "Kaff-Light";
  letter-spacing: 1.1px;
}

.hero-overlay {
  background: transparent -webkit-gradient(linear, left bottom, left top, from(#00000000), to(#00000073)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(0deg, #00000000 0%, #00000073 100%) 0% 0% no-repeat padding-box;
  height: 137px;
  opacity: 1;
}

.hero-overlay-1 {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 6px 16px #91919129;
          box-shadow: 0px 6px 16px #91919129;
  height: 100px;
  opacity: 1;
}

.hero-overlay-2 {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#00000000), to(#000000)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
  height: 450px;
  bottom: 0;
  opacity: 1;
}

.accreditation_overlay {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#00000000), color-stop(75%, #00000094), to(#000000C4)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #00000000 0%, #00000094 75%, #000000C4 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.service_section_overlay {
  background: transparent linear-gradient(132deg, var(--unnamed-color-00585a) 0%, #003536 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(132deg, #00585A 0%, #003536 100%) 0% 0% no-repeat padding-box;
}

.service_card_overlay {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#00000000), color-stop(53%, #00000066), to(#0000008A)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #00000000 0%, #00000066 53%, #0000008A 100%) 0% 0% no-repeat padding-box;
}

.newsletter_overlay {
  background: var(--unnamed-color-00585a) 0% 0% no-repeat padding-box;
  background: #00585A 0% 0% no-repeat padding-box;
}

.footer_overlay {
  background: #F6F6F6 0% 0% no-repeat padding-box;
}

.z-7 {
  z-index: 7;
}

.z-5 {
  z-index: 5;
}

.z-9 {
  z-index: 9;
}

.z-10 {
  z-index: 10;
}

.z-15 {
  z-index: 15;
}

footer ul li {
  height: 40px;
}

.speciallist {
  margin-left: -5rem;
}

.NEWS .card {
  height: 529px;
  width: 413px;
}

.Services .card {
  height: 644px;
  width: 413px;
}

.max-width {
  max-width: 1440px;
  padding-right: 60px;
  padding-left: 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.max-width-1440 {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-1320 {
  max-width: 1320px;
  margin: auto;
}

.horizontally-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.max-width-1800 {
  max-width: 1800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: transparent;
}

header .btn {
  height: 46px;
  font-size: 1rem;
  width: 142px;
  font-family: "Rotis-Light";
}

header a:hover {
  color: #AB9969;
}

header a:hover svg path {
  stroke: #AB9969;
}

header .headerlogo {
  position: relative;
  top: -1.1rem;
}

.owl-dots {
  margin-top: 38px !important;
}

.owl-dots .owl-dot.active span {
  background-color: #00585A !important;
}

.blue-hover {
  -webkit-transition: .2s;
  transition: .2s;
}

.blue-hover:hover {
  color: #00585A !important;
}

.primary-hover {
  -webkit-transition: .2s;
  transition: .2s;
}

.primary-hover:hover {
  color: #AB9969 !important;
}

.header-dropdown {
  z-index: -1;
  height: 522px;
  padding-bottom: 56px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 6px 16px #91919129;
          box-shadow: 0px 6px 16px #91919129;
  opacity: 1;
  top: 0;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  pointer-events: none;
}

.header-dropdown .card {
  height: 292px;
}

.header-dropdown .img-card {
  width: 316px;
  height: 292px;
}

.header-dropdown::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -6;
  top: -420px;
  -webkit-transition: .5s;
  transition: .5s;
}

.header-dropdown .card {
  height: 270px;
}

.top-3px {
  position: relative;
  top: 4.5px;
}

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialIcons img {
  width: 16.45px;
  height: 16.45px;
  cursor: pointer;
}

.header-dropdown-btn .Arrow {
  position: relative;
  top: -2.5PX;
}

.header-dropdown-btn:hover:after {
  content: '';
  position: absolute;
  top: 108px;
  left: 0;
  width: 100%;
  height: 128px;
  background-color: transparent;
}

.header-dropdown-btn:hover .Arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: relative;
  top: -4px;
}

.header-dropdown-btn:hover .header-dropdown {
  top: 0;
  opacity: 1;
  pointer-events: initial;
}

.header-dropdown-btn:hover .header-dropdown::after {
  top: 0;
}

.dropdownlogoimg {
  width: 136px;
  height: 70px;
}

header.active {
  color: #00585A;
}

header.active .border-right-white-1 {
  border-right: 1px solid #91919129;
}

header.active svg path {
  fill: #00585A;
}

header.fixed {
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

header.fixed .header-dropdown {
  height: 460px;
}

header.fixed .header-dropdown-btn:hover:after {
  top: 46px;
}

header.fixed ul li a {
  font-family: "Rotis" !important;
}

header.fixed .hidewhenfixed {
  display: none;
}

header.fixed .headerlogo {
  top: 0;
}

.max-height-100vh {
  max-height: 110vh;
}

.owl-nav {
  text-align: left !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5rem !important;
}

.owl-nav .owl-prev, .owl-nav .owl-next {
  width: 49px;
  height: 49px;
  background: #F5F5F5 0% 0% no-repeat padding-box !important;
  border-radius: 50% !important;
  position: relative;
}

.owl-nav .owl-prev span, .owl-nav .owl-next span {
  display: none;
}

.owl-nav .owl-prev::before, .owl-nav .owl-next::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  border: 1px solid var(--unnamed-color-ab9969);
  border: 1px solid #AB9969;
  width: 39px;
  height: 39px;
  border-radius: 50%;
}

.owl-nav .owl-next {
  margin-left: 1rem !important;
}

.owl-nav .owl-next::after {
  content: '';
  background-image: url("../images/icons/right-arrow.svg");
  position: absolute;
  width: 39px;
  height: 39px;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  left: 46%;
  top: 40%;
}

.owl-nav .owl-prev::after {
  content: '';
  background-image: url("../images/icons/left-arrow.svg");
  position: absolute;
  width: 39px;
  height: 39px;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  left: 40%;
  top: 40%;
}

.arrowSlider .item {
  height: 410px;
}

.heroCard {
  max-width: 1320px;
  width: 100%;
  z-index: 8;
  position: absolute;
  top: -8rem;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 16px 40px #6D8DAD26;
          box-shadow: 0px 16px 40px #6D8DAD26;
  padding-top: 11rem;
  height: 888px;
}

.heroCard .heroCardMainImg {
  height: 211px;
  width: 211px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -105px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 16px 40px #6D8DAD29;
          box-shadow: 0px 16px 40px #6D8DAD29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CardSlider {
  position: absolute;
  width: 100%;
  bottom: 225px;
  z-index: 8;
}

.cardSectionHeight {
  padding-bottom: 340px;
}

.cardSectionHeight .sticky {
  width: 100%;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  height: 100px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 16px 40px #6D8DAD29;
          box-shadow: 0px 16px 40px #6D8DAD29;
  top: 180px;
  left: 0;
  z-index: 4;
  position: -webkit-sticky;
  position: sticky;
}

.card-overlay {
  background: transparent -webkit-gradient(linear, left bottom, left top, from(#00000000), to(#00000073)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(0deg, #00000000 0%, #00000073 100%) 0% 0% no-repeat padding-box;
}

.card-overlay-2 {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 6px 16px #91919129;
          box-shadow: 0px 6px 16px #91919129;
}

.card-overlay-3 {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#00000000), to(#000000)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
}

.bg-background {
  background-image: url("../images/about-us/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.blue-overlay {
  background: transparent linear-gradient(130deg, var(--unnamed-color-00585a) 0%, #003536 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(130deg, #00585A 0%, #003536 100%) 0% 0% no-repeat padding-box;
}

.operated_card_overlay-2 {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#00000000), color-stop(53%, #00000066), to(#000000C9)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #00000000 0%, #00000066 53%, #000000C9 100%) 0% 0% no-repeat padding-box;
}

.operated_card_overlay {
  background: transparent linear-gradient(143deg, var(--unnamed-color-00585a) 0%, #003536 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(143deg, #00585A 0%, #003536 100%) 0% 0% no-repeat padding-box;
}

.formInputWrapper.col-6 {
  min-width: 632px;
  width: 632px;
}

.formInputWrapper input, .formInputWrapper textarea {
  width: 100%;
  background: #f3f3f380 0% 0% no-repeat padding-box;
  height: 60px;
  border: none;
  color: #919191;
  padding-left: 28px;
  font-family: 'kaff-light';
  font-size: 18px;
  line-height: 28px;
  outline: none;
  padding-top: 2px;
}

.formInputWrapper input:placeholder, .formInputWrapper textarea:placeholder {
  color: #919191;
}

.formInputWrapper.messageInputWrapper {
  position: relative;
}

.formInputWrapper.messageInputWrapper textarea {
  height: 203px;
  padding-top: 1.5rem;
  position: relative;
}

.formInputWrapper.messageInputWrapper::after {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #f9f9f9;
  bottom: 0;
  right: 0;
}

.formInputWrapper.fileInputWrapper {
  height: 117px;
  border: 1px dashed var(--unnamed-color-ab9969);
  background: #F9F9F9 0% 0% no-repeat padding-box;
  border: 1px dashed #AB9969;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formInputWrapper.fileInputWrapper input {
  height: 100%;
  display: none;
}

.locationIcon {
  height: 30px !important;
  width: 21px !important;
  position: absolute;
  top: 70px;
  left: 160px;
}

.accordion {
  background: #F3F3F3 0% 0% no-repeat padding-box;
  padding-left: 40px;
  padding-right: 40px;
  max-height: 96px;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.accordion .accordionHeader {
  color: #686868;
  height: 96px;
  -webkit-transition: .5s;
  transition: .5s;
}

.accordion .accordionHeader .accordionArrowContainer {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.accordion .accordionHeader img {
  width: 14px;
  -webkit-transition: .5s;
  transition: .5s;
}

.accordion .accordionContent {
  padding-right: 40px;
  padding-bottom: 40px;
}

.accordion .accordionContent .accordionList li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 18px;
}

.accordion .accordionContent .accordionList li::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #00585A;
  top: 42%;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.accordion.active {
  max-height: 850px;
}

.accordion.active .accordionHeader {
  color: #00585A;
}

.accordion.active img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.locationCards .locationCard {
  width: 416px;
  height: 580px;
}

.locationCards .locationCard .img_container {
  height: 222px;
}

.locationCards .locationCard .locationCardContent {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  position: relative;
  z-index: 7;
  height: 358px;
}

.locationCards .locationCardOverlay {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#00000000), color-stop(53%, #00000066), to(#0000008A)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #00000000 0%, #00000066 53%, #0000008A 100%) 0% 0% no-repeat padding-box;
}

.upcomingNews {
  height: 469px;
}

.upcomingNews .news_card_overlay {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#00000000), color-stop(53%, #00000066), to(#0000008A)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #00000000 0%, #00000066 53%, #0000008A 100%) 0% 0% no-repeat padding-box;
}

.upcomingNews .upcomingNewsImg {
  min-width: 718px;
  position: relative;
}

.upcomingNews .upcomingNewsImg span {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 133px;
  height: 36px;
  color: #fff;
  background-color: #AB9969;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.singleNewsImage {
  position: absolute;
  top: -150px;
}

.Where-We-Operate .card {
  height: 660px;
}

.Where-We-Operate .card .textShowOnHover {
  position: absolute;
  bottom: 85px;
  display: none;
}

.Where-We-Operate .card:hover .textShowOnHover {
  display: block;
  -webkit-animation: fade 1s;
          animation: fade 1s;
}

.Where-We-Operate .card:hover .circleImageCard {
  top: -145px;
}

.Where-We-Operate .card .circleImageCard {
  width: 211px;
  height: 211px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 6px 16px #00000033;
          box-shadow: 0px 6px 16px #00000033;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  top: 0;
}

.Where-We-Operate .card:nth-child(1) .circleImageCard img {
  width: 158px;
  height: 158px;
}

.Where-We-Operate .card:nth-child(2) .circleImageCard img {
  width: 148px;
  height: 77px;
  -o-object-fit: contain;
     object-fit: contain;
}

.Where-We-Operate .card:nth-child(3) .circleImageCard img {
  width: 106px;
  height: 150px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=global.css.map */