$primary:#AB9969;
$blue: #00585A;
$light:#91919129;
$grey:#919191;
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rotis';
    font-weight: 400;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}

.container{
    padding-left: 5% ;
    padding-right: 5%;
}
.container-y{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.bg-blue{
    background-color: $blue;
}
.bg-white{
    background-color: #fff;
}
@font-face {
    font-family: 'Rotis';
    src: url('../fonts/RotisSemiSansStd-Regular.ttf');
    
}
@font-face {
    font-family: 'Rotis-italic';
    src: url('../fonts/RotisSemiSansStd-Italic.otf');
    font-style: italic;
    
}
@font-face {
    font-family: 'Rotis-light';
    src: url('../fonts/RotisSemiSansStd-Light.otf');
    font-style: light;
    
}
@font-face {
    font-family: 'Kaff';
    src: url('../fonts/29LTKaff-Regular.otf'); 
    font-style: regular;
    
}
@font-face {
    font-family: 'Kaff-light';
    src: url('../fonts/29LTKaff-Light.woff');
    font-style: light;
    
}
.kaff-light{
    font-family: "Kaff-light";
    line-height: 26px;
}
 .ml-1-2{
     margin-left: .5rem;
 }
.mlr-auto{
    margin-left: auto;
    margin-right: auto;
}
.mr-1{
    margin-right: 1rem;
}
.mr-1-2{
    margin-right: .5rem;
}
.lead{ 
    font-size: 1.1rem;
    line-height: 1.4;
}
.text-xl{
    font-size: 3.4rem;
}
h1 {
    font-size: 5rem;
line-height: 1.1;
    font-weight: 400;
    span{
        font-family: "Rotis-italic";
    }
}
.title{
    font-size: 56px;
    line-height: 66px;
    font-weight: 400;
}

//positions
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.top-0{
    top: 0;
}
.left-0{
    left: 0;
}
.pt-3{
    padding-top: 3rem;
}
.pt-600{
    padding-top: 600px;
}
.pt-4{
    padding-top: 4rem;
}
.pt-5{
    padding-top: 5rem;
}
.pt-235{
    padding-top: 235px;
}
.pt-10px{
    padding-top: 10px;
}
.pt-290{
    padding-top: 290px;
}
.pt-26{
    padding-top: 26px;
}
.pb-5{
    padding-bottom: 5rem;
}
.ptb-10px{
    padding-bottom: 10px;
    padding-top: 10px;
}
.p-1{
    padding: 2rem;
}
.p-2{
    padding: 2rem;
}
.pr-1{
    padding-right: 1rem;
}
.pr-2{
    padding-right: 2rem;
}
.cursor-pointer{
cursor: pointer;
}
//flex
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: end;
}
.justify-start{
    justify-content: start;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: start;
}
.align-end{
    align-items: end;
}
.dir-col{
    flex-direction: column;
}
.col-gap-1{
    column-gap: 1rem;

}
.col-gap-1-2{
    column-gap: .5rem;
}
.col-gap-2{
    column-gap: 2rem;
}
.col-gap-3{
    column-gap: 3rem;
}
.col-gap-3-5{
    column-gap: 3.5rem;
}
.row-gap-1{
    row-gap: 1rem;
}
.row-gap-3-2{
    row-gap: 2.5rem;
}
.column-gap-35{
    column-gap: 35px;
}
.row-gap-60{
    row-gap: 60px;
}

.bg-advisory{
    padding-top:844px ;

    img{
        object-position: -45px;
    }
}
.row-gap-1-2{

    row-gap: .5rem;

}
.row-gap-4-2{

    row-gap: 3.5rem;

}
.row-gap-4{
    row-gap: 4rem;
}

.row-gap-5px{
    row-gap: 5px;
}
.row-gap-2{
    row-gap: 2rem;
}
.row-gap-3{
    row-gap: 3rem;
}

// width & heights
.w-100px{
    width: 100px;
}
.w-half{
    width: 50%;
}
.w-25{
    width: 25%;
}
.w-82{
    width: 83%;
}
.partner{
    height: 175px;
}
.w-full{
    width: 100%;
}
.w-20{
    width: 20%;
}
.h-full{
    height: 100%;
}
.cta{
    height: 416px;
    img{
        object-position: 0px -306px;
    }
}
.cta-overlay{
    background: transparent linear-gradient(180deg, #00000000 0%, #00000094 32%, #000000C4 100%) 0% 0% no-repeat padding-box;
}
.backgroundSettings{
    object-position: -94px 40px;
    height: 739px!important;
}
.half-height-card{
    .half-height-card-img{
        height: 218px;
        img{
            object-position: top;
        }
    }
    .half-height-card-content{
        height: 286px;
    }
}
.cardSectionHeight{
    height: 1280px;
}
.hero-height{
    height: 674px;
}
.hero-circle{
    &::after{
        content: '';
        position: absolute;
        top: 42%;
        right: -1.9rem;
        border-radius: 50%;
        transform: translate(-50%,-50%);
        width: 7px;
        height: 7px;
        background-color: $primary;
    }
    &.hero-circle-grey::after{
        background-color: $grey;
    }
    &.hero-circle-white::after{
        background-color: #FFFFFF;
    }
}
.h-600{
    height: 600px;
}
.min-h-100{
    min-height: 100vh;
}
.h-v{
    height: 100vh;
}
.h-80{
    height: 80vh;
}

.col-1{
    width: 8%;
    min-width: 8%;
}
.col-2{
    width: 16%;
    min-width: 16%;

}
.col-3{
    
    width: 24%;
    min-width: 24%;

}
.col-4{
    width: 32%;
    min-width: 32%;

}
.col-5{
    width: 40%;
    min-width: 40%;

}
.col-6{
    width: 49%;
    min-width: 49%;

}
.col-7{
    width: 57%;
    min-width: 57%;

}
.col-8{
    
    width: 65%;
    min-width: 65%;

}
.col-9{
    
    width: 74%;
    min-width: 74%;

}
.col-10{

    width: 82%;
    min-width: 82%;
}
.col-11{

    width: 90%;
    min-width: 90%;
}
.col-12{

    width: 100%;
    min-width: 100%;
}

.lh-24{
    line-height: 24px;
}
.lh-28{
    line-height: 28px;
}
//margins{
    .mt-1{
        margin-top: 1rem;
    }
    .mt-2{
        margin-top: 2rem;
    }
    .mt-3{
        margin-top: 3rem;
    }
    .mt-4{
        margin-top: 4rem;
    }
    .mb-5{
        margin-bottom: 5rem;
    }
    .mb-7{
        margin-bottom: 7rem;
    }
    .mb-1{
        margin-bottom: 1rem;

    }
    .mb-1-2{
        margin-bottom: .5rem;

    }
    .mb-2-2{
        margin-bottom: 1.5rem;

    }
    .mb-2{
        margin-bottom: 2rem;

    }
    .mb-3{
        margin-bottom: 3rem;
    }
    .mb-4{
        margin-bottom: 4rem;
    }


// padding
.pt-1{
    padding-top: 1rem;
}
.pt-2{
    padding-top: 2rem;
}
.pb-1{
    padding-bottom: 1rem;
}
.pb-2{
    padding-bottom: 2rem;
}
.pb-3{
    padding-bottom: 3rem;
}
.pb-4-5{
    padding-bottom: 3.5rem;
}
.pl-1{
    padding-left: 1rem;
}
.pl-60{
    padding-left: 60px;
}
.pl-2{
    padding-left: 2rem;
}
.pl-3-2{
    padding-left: 2.5rem;
}
.mt-9{
    margin-top: 9rem;
}
.pt-9{
    padding-top: 9rem;
}
.pb-9{
    padding-bottom: 9rem;
}
.pb-10px{
    padding-bottom: 10px;
}

//text
.text-center{
    text-align: center;
}
.text-uppercase{
    text-transform: uppercase;
    
}
.text-white{
    color: #fff;
}
.text-primary{
    color: $primary;
    
}
.ls-1-1{
    letter-spacing: 1.1px;
}
.text-underline{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -1px;
        left: 0;
        border-bottom: .1px solid ;
    }
}
.qoot-w-h{
    width: 158px!important;
height: 158px!important;
}
.bunyan-w-h{
    width: 148px!important;
    height: 77px!important; 
}
.alayniah-w-h{
    width: 106px!important;
height: 149px!important;
}
.text-blue{
    color: $blue;
}
.text-grey{
    color: $grey;
}
.text-light{
    font-family: "Rotis-Light";
}
.text-28{
    font-size: 28px;
    line-height: 38px;
}
.text-22{
    font-size: 22px;
    line-height: 34px;
}
.text-20{
    font-size: 20px;
}
.text-40{
    font-size: 40px;
}
.text-32{
    font-size: 32px;
    line-height: 38px;
}
.text-15{
    font-size: 15px;
}
.text-14{
    font-size: 14px;
}
.text-24{
    font-size: 24px;
}
.text-48{
    font-size: 48px;
    line-height: 38px;
}
.text-60{
    font-size: 60px;
}
.obj-pos-57{  object-position: -57px;}
//borders 
.border-rad-50{
    border-radius: 50%;
}

.border-white-half-opacity{
    border: 1px solid #ffffff80;
}
.border-white-half-opacity-bottom{
   border-bottom: 1px solid #ffffff80;
}
.border-white-half-opacity-top{
    border-top: 1px solid #ffffff80;
}
.border-white-half-opacity-left{
    border-left: 1px solid #ffffff80;
}
.border-white-half-opacity-right{
    border-right: 1px solid #ffffff80;
}
.border-right-white-15-opacity{
    border-right: 1px solid rgba(255,255,255,0.15);
}

.border-right-grey{
    border-right: 1px solid #9191914d;
}

.h-28{
    height: 28px;
    line-height: 28px;
    padding-top: 3px;
}
.border-right-grey-1{
    border-right: 2px solid #dedede;
    padding-top: 10px;
    padding-bottom:10px;
}
.subServicesCard{
    width: 300px;
    .subServicesCardOverlay{
        background: transparent linear-gradient(180deg, #00000000 0%, #00000066 53%, #0000008A 100%) 0% 0% no-repeat padding-box;
    }
    .img_container{
        height: 145px;
    }
    .subServicesCardContent{
        height: 260px;
        background:#f8f8f8 0% 0% no-repeat padding-box ;
        display: flex;
         flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.operationContainer{
    width: 886px;
    margin-left: auto;
    margin-right: auto;
}
.operationCards{
    border: 1px solid #7070704D;

}


.operationCard{
    width: 33.3%;
    height: 305px;
    position: relative;
    justify-content: flex-end; 
    &:not(:nth-last-child(1)){
       border-right: 1px solid #7070704D;
    }
    
    .img_container{
        position: absolute;
        top:-66.5px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 133px;
        height: 133px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 20px #6D8DAD29;
border-radius: 50%;
img{
    object-fit: contain;
}
.qoot{
    width: 100px;
    height: 100px;
}
.alyan{
    width: 64px;
    height: 91px;
}
.bunyan{
    width: 91px;
    height: 47px;
}
       
    }
}
.border-bottom-grey-1{
    border-bottom: 1px solid #9191914d;
    
}
.border-right-white-1{
    border-right: 1px solid #fff;
}

.img_container{
    overflow: hidden;
    .service_card_overlay:hover  + .imgZoomHover{
        transform: scale(1.2);
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        &.imgZoomHover{
            transition: .5s;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}
.video_container{
  
    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.btn{
    width: 185px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    border: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    &.partnerBtn{
        width: 210px;

    }
    &.secondaryBtn{
        background-color: transparent;
        border: 1px solid $primary;
        color: $primary;
        font-size: 18px;
        line-height: 50px;
        font-family: "Kaff-Light";
        padding-top: 2px;
        img{
            position: relative;
            top: -2px;
            margin-left: 5x;
        }
        &:hover{
            background-color: $primary;
            color: #fff;
        }
    }
    
}
.cursor-pointer{
    cursor: pointer;
}
.object-fit-contain{
    object-fit: contain!important;
}
.btn-primary{
background-color: $blue;
color: #fff;
position: relative;
overflow: hidden;
&::before{
    content: '';
    position: absolute;
    width: 160%;
    right: -35%;
    height: 100%;
    background-color: $primary;
    clip-path: circle(50.0% at 50% 50%);
    transition: .5s;
 }
 &:hover::before{
     right: -140%;
 }
 &::after{
     content: attr(data-text);
    position: absolute;
    color: #fff;
    font-family: inherit;
    font-size: 18px;
    font-family: "Kaff-Light";

    top: 56%;
    transform: translateY(-50%);
    }
}
.inputWrapper{
    position: relative;
    border-bottom: 2px solid #F3F3F3;
    opacity: .5;
    color: #f3f3f3;
    img{
        position: absolute;
        right: 0;
        top: 50%;
        width: 13px;
        transform: translateY(-50%) rotate(272deg);

        
    }
input{
    width: 100%;
    padding: 10px 0; 
    border: 0;
    background-color: transparent;
   
    color: #ffff;
    outline: none;
    
    font-family: "Kaff-Light";
    &::placeholder{
        color: #f3f3f3;
        font-family: "Kaff-Light";
        letter-spacing: 1.1px;
    }

}
}
.hero-overlay{
    background: transparent linear-gradient(0deg, #00000000 0%, #00000073 100%) 0% 0% no-repeat padding-box;
    height: 137px;
    opacity: 1;

  
}
.hero-overlay-1{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 6px 16px #91919129;
height: 100px;
opacity: 1;
}
.hero-overlay-2{
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    height: 450px;
    bottom: 0;
    opacity: 1;
}
.accreditation_overlay{
    background: transparent linear-gradient(180deg, #00000000 0%, #00000094 75%, #000000C4 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.service_section_overlay{
    background: transparent linear-gradient(132deg, var(--unnamed-color-00585a) 0%, #003536 100%) 0% 0% no-repeat padding-box;
background: transparent linear-gradient(132deg, #00585A 0%, #003536 100%) 0% 0% no-repeat padding-box;
}
.service_card_overlay{
    background: transparent linear-gradient(180deg, #00000000 0%, #00000066 53%, #0000008A 100%) 0% 0% no-repeat padding-box;
}
.newsletter_overlay{
    background: var(--unnamed-color-00585a) 0% 0% no-repeat padding-box;
    background: #00585A 0% 0% no-repeat padding-box;
}
.footer_overlay{
    background: #F6F6F6 0% 0% no-repeat padding-box;
}
.z-7{
    z-index: 7;
}
.z-5{
    z-index: 5;
}
.z-9{
    z-index: 9;
}
.z-10{
    z-index: 10;
}
.z-15{
    z-index: 15;
}
footer {
    ul li{
        height: 40px;
    }
}
.speciallist{
    margin-left: -5rem;
}
.NEWS {
    .card{
        height: 529px;
        width: 413px;
    }
}
.Services {
    .card{
        height: 644px;
        width: 413px;
    }
}
.max-width{
    max-width: 1440px;
    padding-right: 60px;
    padding-left: 60px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.max-width-1440{
    max-width: 1440px;
    
    margin-left: auto;
    margin-right: auto;
}
.max-width-1320{
    max-width: 1320px;
    margin: auto;
}
.horizontally-center{
    left: 50%;
    transform: translateX(-50%);
}
.max-width-1800{
    max-width: 1800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
header{
    background-color: transparent;
    .btn{
        height: 46px;
        font-size: 1rem;
        width: 142px;
        font-family: "Rotis-Light";
    }
    a:hover{
        color: $primary;
        svg{
            path{

                stroke: $primary;
            }
        }
    }
    .headerlogo{
        position: relative;
        top: -1.1rem;
    }
}
.owl-dots {
    margin-top: 38px!important;
    .owl-dot.active{
        span{
            background-color: $blue!important;

        }
    }
}
.blue-hover{
    transition: .2s;
    &:hover{
        color: $blue!important;
    }
}
.primary-hover{
    transition: .2s;
    &:hover{
        color: $primary!important;
    }
}
.header-dropdown{
    z-index: -1;
    height: 522px;
    padding-bottom: 56px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 6px 16px #91919129;
opacity: 1;
    top: 0;
    opacity: 0;
    transition: .5s;
    pointer-events: none;
    .card{
        height: 292px;
    }
    .img-card{
        width: 316px;
        height: 292px;
    }
    
    // transition-delay: .5s;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: -6;
        top: -420px;
        transition: .5s;
    }
    .card{
        height: 270px;
    }
}
.top-3px{
    position: relative;
    top: 4.5px;
}
.socialIcons{
    display: flex;
    column-gap: 1rem;
    align-items: center;
    img{
        width: 16.45px;
        height: 16.45px;
        cursor: pointer;
    }
}
.header-dropdown-btn{
    .Arrow{
        position: relative;
        top: -2.5PX;
    }
    &:hover:after{
        content: '';
        position: absolute;
        top: 108px;
        left: 0;
        width: 100%;
        height: 128px;
        background-color: transparent;
    }
    &:hover {
        .Arrow{
            transform: rotate(180deg);
            position: relative;
            top: -4px;
            }
        .header-dropdown{
            top: 0;opacity: 1;
            pointer-events: initial;
            &::after{
                top: 0;
            }
            

        }
    }
}
.dropdownlogoimg{
    width: 136px;
    height: 70px;
}
header.active{
    color: $blue;
    
    .border-right-white-1{
        border-right: 1px solid #91919129;
    }
    svg{
        path {
            fill: $blue;
        }
    }
}
header.fixed{
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    .header-dropdown{
        height: 460px;
    }
    .header-dropdown-btn:hover:after{
        top: 46px;
    }
    ul li a{
        font-family: "Rotis"!important;
    }
    .hidewhenfixed{
        display: none;
    }
    .headerlogo{
        top: 0;
    }
}
.max-height-100vh{
    max-height: 110vh;
}
.owl-nav{
    // background-color: green;
    text-align: left!important;
    display: flex;
    margin-top: 2.5rem!important;
    .owl-prev,.owl-next{
        width: 49px;
        height: 49px;
        background: #F5F5F5 0% 0% no-repeat padding-box!important;
        border-radius: 50%!important;
        span{
            display: none;
        }
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 4px;
            left: 4px;
            border: 1px solid var(--unnamed-color-ab9969);
            border: 1px solid #AB9969;      
            width: 39px;
            height: 39px;
            border-radius: 50%;
        }
    }
    .owl-next{
        margin-left: 1rem!important; 
        
        &::after{
            content: '';
            background-image: url('../images/icons/right-arrow.svg');
            position: absolute;
            width: 39px;
            height: 39px;
            background-repeat: no-repeat;
            object-fit: cover;
            left: 46%;
            top: 40%; 
        }
    }
    .owl-prev{
 
        
        &::after{
            content: '';
            background-image: url('../images/icons/left-arrow.svg');
            position: absolute;
            width: 39px;
            height: 39px;
            background-repeat: no-repeat;
            object-fit: cover;
            left: 40%;
            top: 40%; 
        }
    }
    
}
.arrowSlider{
    .item{
    height: 410px;}
}

.heroCard{
    max-width: 1320px;
    width: 100%;
    z-index: 8;
    position: absolute;
    top:-8rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 40px #6D8DAD26;
    padding-top: 11rem;
    height: 888px;
    .heroCardMainImg{
        height: 211px;
        width: 211px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -105px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 16px 40px #6D8DAD29;
display: flex;
justify-content: center;
align-items: center;

 
    }
}
.CardSlider{
    position: absolute;
    width: 100%;
    bottom: 225px;
    z-index: 8;
}
 .cardSectionHeight{
     padding-bottom: 340px;
     .sticky{
        
         width: 100%;
     transform: translateY(-100px);
     height: 100px;
         background: #FFFFFF 0% 0% no-repeat padding-box;
 box-shadow: 0px 16px 40px #6D8DAD29;
         top: 180px;
         left: 0;
         z-index: 4;
         position: sticky;
     }

 }
.card-overlay{
    background: transparent linear-gradient(0deg, #00000000 0%, #00000073 100%) 0% 0% no-repeat padding-box;
} 
.card-overlay-2{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 6px 16px #91919129;

}
.card-overlay-3{
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
}
.bg-background{
    background-image: url('../images/about-us/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.blue-overlay{
    background: transparent linear-gradient(130deg, var(--unnamed-color-00585a) 0%, #003536 100%) 0% 0% no-repeat padding-box;
background: transparent linear-gradient(130deg, #00585A 0%, #003536 100%) 0% 0% no-repeat padding-box;
}

.operated_card_overlay-2{
    background: transparent linear-gradient(180deg, #00000000 0%, #00000066 53%, #000000C9 100%) 0% 0% no-repeat padding-box;
}
.operated_card_overlay{
    background: transparent linear-gradient(143deg, var(--unnamed-color-00585a) 0%, #003536 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(143deg, #00585A 0%, #003536 100%) 0% 0% no-repeat padding-box;
}


    
.formInputWrapper{
    &.col-6{
        min-width: 632px;
        width: 632px;
    }
  
    input,textarea{
        width: 100%;
        background: #f3f3f380 0% 0% no-repeat padding-box;
        height: 60px; 
        border: none;
        color: #919191;
        padding-left: 28px;
        font-family: 'kaff-light';
        font-size: 18px;
        line-height: 28px;
        outline: none;
        padding-top: 2px;
      
        &:placeholder{
            color: #919191;
        }
    }
    &.messageInputWrapper{
        position: relative;
        textarea{
            height: 203px; 
            padding-top: 1.5rem;
            position: relative;
          

        }
        &::after{
            content: '';
            position: absolute;
            width: 22px;
            height: 22px;
            background-color: #f9f9f9;
            bottom: 0;
            right: 0;

        }   
    }
    &.fileInputWrapper{
        // border: 1px dashed var(--unnamed-color-ab9969);
        // background: #F9F9F9 0% 0% no-repeat padding-box;
        // border: 1px dashed #AB9969;
                height: 117px; 
                border: 1px dashed var(--unnamed-color-ab9969);
                background: #F9F9F9 0% 0% no-repeat padding-box;
                border: 1px dashed #AB9969;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                input{
                    height: 100%;
                    display: none;
                }
    }
}
.locationIcon{
    height: 30px!important;
    width: 21px!important;
    position: absolute;
    top: 70px;
    left: 160px;
}
.accordion{
    background: #F3F3F3 0% 0% no-repeat padding-box;
    padding-left: 40px;
    padding-right: 40px;
    max-height:96px ;
    overflow: hidden;
    transition: 1s;
   
    .accordionHeader{
        color: #686868;
        height: 96px;
        transition: .5s;
        .accordionArrowContainer{
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
       
        img{
            width: 14px;
            transition: .5s;
           
        }
    }
    .accordionContent{
        padding-right: 40px;
        padding-bottom: 40px;
        .accordionList{
            li{
                margin-bottom: 10px;
                position: relative;
                padding-left: 18px;
                &::before{
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    background-color: $blue;
                    top: 42%;
                    border-radius: 50%;
                    transform: translateY(-50%);
                    left: 0;
                }

            }
        }

    }
    &.active{
        max-height: 850px;
        .accordionHeader{
            color: $blue;
        }
        img{
            transform: rotate(180deg);

        }
    }
     
}

.locationCards{
    .locationCard{
        width: 416px;
        height: 580px;
        .img_container{
            height: 222px;
        }
        .locationCardContent{
            background: #FFFFFF 0% 0% no-repeat padding-box;
            position: relative;
            z-index: 7;
            height: 358px;
        }
    }
    .locationCardOverlay{
        background: transparent linear-gradient(180deg, #00000000 0%, #00000066 53%, #0000008A 100%) 0% 0% no-repeat padding-box;

    }
}

.upcomingNews{
    height: 469px;
    .news_card_overlay{
        background: transparent linear-gradient(180deg, #00000000 0%, #00000066 53%, #0000008A 100%) 0% 0% no-repeat padding-box;
    }
    .upcomingNewsImg{
        min-width: 718px;
        position: relative;
        span{
            position: absolute;
            top: 2rem;
            right: 2rem;
            width: 133px;
            height: 36px;
            color: #fff;
            background-color: $primary;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.singleNewsImage{
    position: absolute;
    top: -150px;
}
.Where-We-Operate{
  
    .card{
        height: 660px;
        .textShowOnHover{
            position: absolute;
            bottom: 85px;
            display: none;
        }
        &:hover{
            .textShowOnHover{
                display: block;
                animation: fade 1s;
                
            }
            .circleImageCard{
                top: -145px;
            }
        }
        .circleImageCard{
            width: 211px;
            height: 211px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 6px 16px #00000033; 
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 1s;
            top: 0;
            
        }
    }
    .card:nth-child(1){
        .circleImageCard{
           img{
               width: 158px;
               height: 158px;
           }
        }
   }
    .card:nth-child(2){
        .circleImageCard{
           img{
               width: 148px;
               height: 77px;
               object-fit: contain;
           }
        }
   }
    .card:nth-child(3){
        .circleImageCard{
           img{
               width: 106px;
               height: 150px;
           }
        }
   }
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}